@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EvercraftWebsite.Data
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model EvercraftWebsite.Views.Home.HomeModel

<div class="text-center">
    <h1 class="display-4">Evercraft</h1>
    <form method="POST" action="Create">
        <div class="mb-3">
            <label for="characterName" class="form-label">Character Name</label>
            <input type="text" class="form-control" id="characterName" name="characterName" value="" />
        </div>
        <button
            type="submit"
            asp-controller="Home"
            asp-action="Create"
            class="btn btn-primary">
            Submit
        </button>
    </form>
    <div class="d-flex flex-row">
            @{
                if ((bool) Model?.DnDCharacters?.Any())
                {
                    foreach (var dnDCharacter in Model?.DnDCharacters)
                    {
                        <div class="m-4">
                            @dnDCharacter.CharacterName (@dnDCharacter.HitPoints Hp | @dnDCharacter.Armor Ac)
                            <form method="POST" action="Delete" >
                                <input type="hidden" class="form-control" id="id" name="id" value="@dnDCharacter.Id" />
                                <button
                                    type="submit"
                                    asp-controller="Home"
                                    asp-action="Delete"
                                    class="btn btn-primary">
                                    Remove Character
                                </button>
                            </form>
                            <form method="POST" action="CharacterAttacked" >
                                <input type="hidden" class="form-control" id="attackedCharacterId" name="attackedCharacterId" value="@dnDCharacter.Id" />
                                <button
                                    type="submit"
                                    asp-controller="Home"
                                    asp-action="CharacterAttacked"
                                    class="btn btn-primary">
                                    Mob Attacks Character
                                </button>
                            </form>
                            <form method="POST" action="Edit">
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="id" name="id" value="@dnDCharacter.Id" />
                                    <label for="editedCharacterName" class="form-label">Character Name</label>
                                    <input type="text" class="form-control" id="editedCharacterName" name="editedCharacterName" value="" />
                                </div>
                                <button
                                    type="submit"
                                    asp-controller="Home"
                                    asp-action="Edit"
                                    class="btn btn-primary">
                                    Edit Name
                                </button>
                            </form>
                            <form method="POST" action="EditAlignment">
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="id" name="id" value="@dnDCharacter.Id" />
                                    <label for="editedCharacterName" class="form-label">Character Alignment</label>
                                    <select class="form-select" aria-label="Default select example" name="alignment">
                                        <option value="-1" selected="@(dnDCharacter.Alignment == CharacterAlignment.Evil)">Evil</option>
                                        <option value="0" selected="@(dnDCharacter.Alignment == CharacterAlignment.Neutral)">Neutral</option>
                                        <option value="1" selected="@(dnDCharacter.Alignment == CharacterAlignment.Good)">Good</option>
                                    </select>
                                </div>
                                <button
                                    type="submit"
                                    asp-controller="Home"
                                    asp-action="EditAlignment"
                                    class="btn btn-primary">
                                    Edit Alignment
                                </button>
                            </form>
                            <form method="POST" action="EditModifiers">
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="id" name="id" value="@dnDCharacter.Id" />
                                    <label for="editedCharisma" class="form-label">Charisma: @dnDCharacter.CharismaModifier.ToString()</label>
                                    <input type="number" class="form-control" id="editedCharisma" name="modifierNumber" value="" />
                                    <input type="text" class="form-control" id="editedCharisma" name="modifierType" value="Charisma" />
                                </div>
                                <button
                                    type="submit"
                                    asp-controller="Home"
                                    asp-action="EditModifiers"
                                    class="btn btn-primary">
                                    Edit Charisma
                                </button>
                            </form>
                        </div>
                    }
                }
            }
        </div>
</div>
